target/
allure-results/
.fastRequest/
.allure/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
HybridTestWithJavaAndSelenium.iml

### IntelliJ IDEA ###
.idea/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store